section.home-product {
  position: relative;
  padding: 40px;
  .background-image {
    background-image: url("../assets/images/download.png");
    background-size: contain;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    h1 {
      margin: 0 20px;
      font-size: 18px;
      color: #c1c1c1;
      font-weight: 400;
      position: relative;
      &.active {
        font-size: 34px;
        color: #789629;
      }
    }
  }
  .section-category {
    z-index: 1;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        cursor: pointer;
        margin: 0 10px;
        padding: 10px;
        font-size: 14px;
        color: #818181;
        font-weight: 400;
        &.active {
          color: #789629;
        }
      }
    }
  }
  .product-list {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
    }
  }
}

.home-social {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  ul {
    display: flex;
    li {
      padding: 10px;
      margin: 0 10px;
      font-size: 16px;
      color: #d4d4d4;
      &.active {
        color: var(--text-color);
      }
      .home-social__icon {
        i {
          padding: 4px;
          border: 2px solid;
          border-radius: 50%;
          margin-right: 4px;
        }
      }
    }
  }
}

section.home-blog {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  padding-bottom: 50px;
  h2 {
    color: #050505;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
  }
  .description {
    h4 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
      margin: 20px 0;
    }
    p {
      font-size: 12px;
    }
    .blog-description-img {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .blog-author,
    span {
      color: #b4b4b4;
      padding-bottom: 10px;
    }
  }
  .blog-home__form {
    color: #737373;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f6f6f6;
    font-size: 12px;
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    button {
      --bs-btn-bg: #789629;
      font-weight: bold;
      i {
        padding-right: 4px;
      }
    }
    input {
      margin: 10px 0;
      height: 46px;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      width: 100%;
      border: 2px solid #ebebeb;
      border-radius: 12px;
      padding: 12px;
      &::placeholder {
        color: #dadada;
        font-size: 12px;
      }
    }
  }
}
