//Login
.login-top {
  display: flex;
  height: 82px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.login-form {
  color: var(--text-color);
  padding-left: 52px;
  padding-top: 34px;
  padding-bottom: 42px;
  padding-right: 40%;
  background-color: #f2f2f2;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 60px;
  border: 1px solid #e9e9e9;
  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
  }
  a {
    font-size: 12px;
    font-weight: bold;
    color: var(--text-color);
    margin-right: 20px;
  }
}
