section.home-product 
    .background-image
    .section-title
        h1.slash_underline Sản phẩm mới            
        h1.active Sản phẩm bán chạy 
            .divider-custom.divider-light
                .divider-custom-line
                .divider-custom-icon //////////////                   
                .divider-custom-line
        h1 Sản phẩm đặc biệt
    .section-category 
        ul 
            li Mỹ phẩm 
            li Chăm sóc da
            li Dành cho tóc
            li.active Nước hoa 
            li Trang sức
            li Quà tặng
    .product-list
        ul.product-list__slider.w-100.row  
            
            .col.col-12.col-xl-2.col-md-6                          
                li.product-item.disabled
                    .product-item__img 
                        img(src="../assets/images/product12.jpg" alt="avatar1")
                    .product-item__brand Ohui
                    a.product-item__name(href="/detail.html") Mỹ phẩm châu âu
                    .product-item__price 155.000đ 
                        span 199.000đ
                    .product-item__controller
                        button.btn.btn-light.text-uppercase Mua hàng    
                        button.btn.btn-success 
                            i.fa-solid.fa-heart
                        button.btn.btn-light
                            i.fa-solid.fa-arrows-rotate
            .col.col-12.col-xl-2.col-md-6.home-product-icon-slick 
                .left-icon
                    i.fa-solid.fa-arrow-left
                li.product-item
                    .product-item__img 
                        img(src="../assets/images/product8.jpg" alt="avatar1")
                    .product-item__brand Ohui
                    a.product-item__name(href="/detail.html") Mỹ phẩm châu âu
                    .product-item__price 155.000đ 
                        span 199.000đ
                    .product-item__controller
                        button.btn.btn-light.text-uppercase Mua hàng    
                        button.btn.btn-success 
                            i.fa-solid.fa-heart
                        button.btn.btn-light
                            i.fa-solid.fa-arrows-rotate
            .col.col-12.col-xl-2.col-md-6
                li.product-item.active
                    .product-item__img 
                        img(src="../assets/images/product9.jpg" alt="avatar1")
                    .product-item__brand Ohui
                    a.product-item__name(href="/detail.html") Mỹ phẩm châu âu
                    .product-item__price 155.000đ 
                        span 199.000đ
                    .product-item__controller
                        button.btn.btn-light.text-uppercase Mua hàng    
                        button.btn.btn-success 
                            i.fa-solid.fa-heart
                        button.btn.btn-light
                            i.fa-solid.fa-arrows-rotate
            .col.col-12.col-xl-2.col-md-6
                li.product-item
                    .product-item__img 
                        img(src="../assets/images/product7.jpg" alt="product7")
                    .product-item__brand Ohui
                    a.product-item__name(href="/detail.html") Mỹ phẩm châu âu
                    .product-item__price 155.000đ 
                        span 199.000đ
                    .product-item__controller
                        button.btn.btn-light.text-uppercase Mua hàng    
                        button.btn.btn-success 
                            i.fa-solid.fa-heart
                        button.btn.btn-light
                            i.fa-solid.fa-arrows-rotate
            .col.col-12.col-xl-2.col-md-6.home-product-icon-slick 
                .right-icon
                    i.fa-solid.fa-arrow-right  
                li.product-item
                    .product-item__img 
                        img(src="../assets/images/product10.jpg" alt="product10.jpg")
                    .product-item__brand Ohui
                    a.product-item__name(href="/detail.html") Mỹ phẩm châu âu
                    .product-item__price 155.000đ 
                        span 199.000đ
                    .product-item__controller
                        button.btn.btn-light.text-uppercase Mua hàng    
                        button.btn.btn-success 
                            i.fa-solid.fa-heart
                        button.btn.btn-light
                            i.fa-solid.fa-arrows-rotate
            .col.col-12.col-xl-2.col-md-6
                li.product-item.disabled
                    .product-item__img 
                        img(src="../assets/images/product11.jpg" alt="product11")
                    .product-item__brand Ohui
                    a.product-item__name(href="/detail.html") Mỹ phẩm châu âu
                    .product-item__price 155.000đ 
                        span 199.000đ
                    .product-item__controller
                        button.btn.btn-light.text-uppercase Mua hàng    
                        button.btn.btn-success 
                            i.fa-solid.fa-heart
                        button.btn.btn-light
                            i.fa-solid.fa-arrows-rotate


                