.banner 
    .banner-content.container-xxl 
        .banner-content__product
            img(src="../assets/images/banner-product.png" alt="Product banner")
            h1.product-title Green vera
            .product-sub-title Sản phẩm tinh dầu dưỡng da mới nhất của Mandala 
            .product-sub-price Giá chỉ  750.000đ
            a.product-link(href="#") Mua hàng
.container-xxl.banner-bottom
    ul.row    
        li.col.col-4 
            i.fa-solid.fa-plane
            p Miễn phí vận chuyển             
        li.col.col-4 
            i.fa-solid.fa-gift
            p Nhận ngay quà trị giá 350.000đ
        li.col.col-4 
            i.fa-solid.fa-star
            p Giảm 30% cho đơn hàng trên 5.000.000đ
section.home-section 
    .container-xxl        
        .row    
            .col.col-6                     
                .row 
                    .col.col-6 
                        img(src="../assets/images/product1.png" alt="Product1")
                    .col.col-6
                        .home-section__bg.bg-yellow
                            h3 Sữa tắm
                    .col.col-6
                        .home-section__bg.bg-grey
                            h3 Nước hoa
                    .col.col-6 
                        img(src="../assets/images/product1.png" alt="Product1")
            .col.col-6 
                img(src="../assets/images/product2.png" alt="Product1")

section.home-section 
    .container-xxl        
        .row  
            .col.col-6 
                img(src="../assets/images/product3.png" alt="Product1")  
            .col.col-6                     
                .row                     
                    .col.col-6
                        .home-section__bg.bg-blue
                            h3 Trang sức
                    .col.col-6 
                        img(src="../assets/images/product4.png" alt="Product1")
                    .col.col-6 
                        img(src="../assets/images/product5.png" alt="Product1")
                    .col.col-6
                        .home-section__bg.bg-pink.product-img
                            img(src="../assets/images/product6.png" alt="Product6")
                            h3 Quyến rũ hơn
section.home-review 
    .container-xxl.home-review__wapper      
        .avatar 
            img(src="../assets/images/avatar1.jpg" alt="avatar1")
        .home-review__content            
            .home-review__content-description "Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto  ”
            .author    
                span TutiLe
                span _ Giám đốc phát triển sản phẩm
