nav(aria-label='breadcrumb' style='border-bottom: 1px solid;color: #e6e6e6;padding: 20px 0;')
  ol.breadcrumb(style='margin: 0;')
    li.breadcrumb-item
      a(href='#') Home
    li.breadcrumb-item
      a(href='#') Sản phẩm 
    li.breadcrumb-item
      a(href='#') Trang sức 
    li.breadcrumb-item.active(aria-current='page') Lắc tay
