section.home-product 
    .background-image
    .container
        .section-title
            h1.slash_underline Sản phẩm mới
                
            h1.active Sản phẩm bán chạy 
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon //////////////                   
                    .divider-custom-line
            h1 Sản phẩm đặc biệt
                
        
        .section-category 
            ul 
                li Mỹ phẩm 
                li Chăm sóc da
                li Dành cho tóc
                li.active Nước hoa 
                li Trang sức
                li Quà tặng
        .product-list
            ul.product-list__slider 
                li.product-item 
                    .product-item__img 
                        img(src="../assets/images/avatar1.jpg" alt="avatar1")
                    .product-item__brand Brand
                    .product-item__price Brand
                    .product-item__controller
                        button.btn  Mua hàng
                        button.btn 
                            i.fa-solid.fa-heart                           
                        button.btn  
                            i.fa-solid.fa-arrows-rotate
                li.product-item 
                    .product-item__img 
                        img(src="../assets/images/avatar1.jpg" alt="avatar1")
                    .product-item__brand Brand
                    .product-item__price Brand
                    .product-item__controller
                        button.btn  Mua hàng
                        button.btn 
                            i.fa-solid.fa-heart                           
                        button.btn  
                            i.fa-solid.fa-arrows-rotate
                li.product-item 
                    .product-item__img 
                        img(src="../assets/images/avatar1.jpg" alt="avatar1")
                    .product-item__brand Brand
                    .product-item__price Brand
                    .product-item__controller
                        button.btn  Mua hàng
                        button.btn 
                            i.fa-solid.fa-heart                           
                        button.btn  
                            i.fa-solid.fa-arrows-rotate


                