doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Trang 404
    style.
      body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
      }
      h1 {
      font-size: 36px;
      margin-bottom: 20px;
      }
      p {
      font-size: 20px;
      margin-bottom: 30px;
      }
      a {
      text-decoration: none;
      color: #007bff;
      }
  body
    h1 404
    p Kh&ocirc;ng ph&#x1EA3;i trang web b&#x1EA1;n t&igrave;m ki&#x1EBF;m.
    div
      a(href='index.pug') Li&ecirc;n h&#x1EC7;
      |  | 
      a(href='index.pug') Trang ch&#x1EE7;