// Footer
footer.text-center.text-lg-start.text-muted  
  section
    .container.text-center.text-md-start.mt-5
      // Grid row
      .row.mt-3
        // Grid column
        .col-md-3.col-lg-4.col-xl-4.mx-auto.mb-4
          // Content
          h6.text-uppercase.fw-bold.mb-4 Liên hệ với chúng tôi
            
          p
            i.fa-solid.fa-location-dot.me-3
            | Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội 
          p
            i.fa-solid.fa-phone.me-3
            | 0869046822   
            i.fa-solid.fa-phone.me-3
            | 0869046822
          p
            i.fa-solid.fa-phone.me-3
            | 0869046822
        .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
          // Links
          h6.text-uppercase.fw-bold.mb-4
            | Chuyển hàng
          p
            a.text-reset(href='#!') Mua sắm trực tuyến
          p
            a.text-reset(href='#!') Đến từ chúng tôi
          p
            a.text-reset(href='#!') Chính sách vận chuyển
          p
            a.text-reset(href='#!') Thông tin vận chuyển
        // Grid column
        // Grid column
        .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
          // Links
          h6.text-uppercase.fw-bold.mb-4
            | Hỗ trợ
          p
            a.text-reset(href='#!') Câu chuyện của chúng ta
          p
            a.text-reset(href='#!') Thanh toán an toàn
          p
            a.text-reset(href='#!') Tuỳ chọn Vận chuyển
          p
            a.text-reset(href='#!') Chính sách vận chuyển

        .col-md-4.col-lg-3.col-xl-2.mx-auto.mb-md-0.mb-4
          
          h6.text-uppercase.fw-bold.mb-4 Thông tin
          p Về chúng tôi            
          p Điều khoản & điều kiện            
          p Chính sách riêng tư
          p Đơn đặt hàng và Returns                   
          
        .col-md-4.col-lg-3.col-xl-2.mx-auto.mb-md-0.mb-4
          // Links
          h6.text-uppercase.fw-bold.mb-4 My account
          p Xem giỏ hàng           
          p Sản phảm yêu thích          
          p Kiểm tra
          p Theo dõi đơn hàng của tôi
        
  // Section: Links
  // Copyright
  .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
    | &copy; 2021 Copyright:
    a.text-reset.fw-bold(href='https://mdbootstrap.com/') MDBootstrap.com
  // Copyright
// Footer
