header#header 
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.text-uppercase.fixed-top.shadow-sm
        .container
            a.navbar-brand(href='/') Mandana
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.justify-content-center(style="flex:1;")
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Trang chủ 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='./blog-detail.html') Giới thiệu
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Sản phẩm
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='./list.html') Tất cả sản phẩm
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
                    li.nav-item
                        a.nav-link(href='#') Tin tức
                    li.nav-item
                        a.nav-link(href='#') Bản đồ
                    li.nav-item
                        a.nav-link(href='./contact.html') Liên hệ
                .left-icon
                    i.fa-solid.fa-cart-shopping
                    i.fa-solid.fa-magnifying-glass
                //- form.form-inline.my-2.my-lg-0
                //-     input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                //-     button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search


