.newsletter-popup 
    .overlay
    i.fa-solid.fa-xmark
    .newsletter-popup__content 
        .background-image
        h1.text-uppercase Gửi email   
        p Hãy gửi email cua bạn liên hệ với chúng tôi để đc tư vấn tôt nhất         
        p Sự hai lòng cua bạn la thành công của chúng tôi    
        input(type='email' placeholder="Email của bạn")
        a.text-uppercase(href="#") Gửi email